.home-info {
  padding: 94px 0 237px;

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    flex: 1;
    max-width: 766px;
  }

  .dean-name {
    font-size: var(--sm-title);
    font-weight: 700;
    line-height: 60px;
    color: var(--black-c);
    margin-bottom: 28px;
  }

  &__text {
    color: var(--black-c);
    font-size: var(--text-2xl);
    line-height: 29px;
  }

  .dean-img__wrap {
    flex: 1;
    display: flex;

    justify-content: center;
  }

  .dean-img {
    position: relative;
    align-self: center;

    &::after,
    &::before {
      position: absolute;
    }

    &::after {
      content: url("../../assets/images/kiut-img1.jpg");
      top: -70px;
      right: -136px;
    }

    &::before {
      content: url("../../assets/images/kiut-img2.jpg");
      bottom: -145px;
      left: -70px;
    }

    img {
      width: 312px;
      height: 408px;
      object-fit: cover;
      position: relative;
      z-index: 2;
    }
  }
}