.home-info {
  padding-top: 45px;

  .container{
    display: flex;
    column-gap: 50px;
  }

  &__content {
    display: flex;
    column-gap: 20px;
  }

  .dean-name {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    color: var(--black-c);
    margin-bottom: 15px;
  }

  .dean-img {
    width: 617px;
    height: 650px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    flex: 1;
  }

  &__text {
    color: var(--black-c);
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.02em;
  }
}

@media screen and (max-width: 1720px) {
  .home-info {
    .dean-img {
      width: 400px;
      height: 420px;
    }

    &__text {
      font-size: var(--text-lg);
    }
  }
}

@media screen and (max-width: 1440px) {
  .home-info {
    .dean-img {
      width: 330px;
      height: 370px;
    }
    .dean-name {
      font-size: var(--text-3xl);
      line-height: 25px;
    }
    &__text {
      font-size: var(--text-base);
      line-height: 28px;

    }

  }
}