.payment-form {
  max-width: 660px;
  padding: 24px 18px 32px;
  background-color: var(--white-c);
  box-shadow: var(--bx-payments-card);
  border-radius: 20px;

  &__title {
    text-align: center;
    font-size: var(--text-xl);
    font-weight: 500;
    line-height: 24px;
    color: var(--black-c);
    margin-bottom: 38px;
  }

  &__info-inputs {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 32px;

    >div {
      flex: 1;
    }
  }

  .work-place {
    margin-bottom: 42px;
  }



  .upload-files__wrap {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-bottom: 12px;

    input {
      max-width: 200px;
    }
  }

  &__accept-text {
    font-size: var(--text-sm);
    letter-spacing: 0.005em;
    color: #0A0A0A;
    line-height: 20px;
    margin-bottom: 32px;
  }

  .submit {
    display: flex;
    justify-content: center;
  }

  &__btn-submit {
    padding: 11px 68px;
    background-color: var(--primary-blue-c);
    border-radius: 20px;
    font-size: var(--text-lg);
    font-weight: 500;
    color: var(--white-c);

    &:hover {
      background-color: var(--link-hover-c);
    }
  }
}