.payment-form {
  max-width: 660px;
  padding: 24px 18px 32px;
  background-color: var(--white-c);
  box-shadow: var(--bx-payments-card);
  border-radius: 20px;

  &__title {
    text-align: center;
    font-size: var(--text-xl);
    font-weight: 500;
    line-height: 24px;
    color: var(--black-c);
    margin-bottom: 38px;
  }

  &__info-inputs {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 32px;

    >div {
      flex: 1;
    }
  }

  .work-place {
    margin-bottom: 42px;
  }

  .phone-num {
    max-width: 435px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 60px;

    input {
      max-width: 328px;
    }
  }

  .upload-files__wrap {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-bottom: 12px;

    input {
      max-width: 200px;
    }
  }

  &__input {
    display: flex;
    flex-direction: column;
    gap: 4px;

    label {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.005em;
      color: #0A0A0A;
    }

    input {
      padding: 16px 24px;
      border-radius: 12px;
      border: 1px solid #C2C2C2;
      outline: none;
      color: var(--black-c);

      &:focus,
      &:valid {
        border-color: var(--black-c);
      }
    }
  }

  input[type=file]::file-selector-button {
    display: none;
  }

  input[type=file] {
    cursor: pointer;
  }

  .file-upload {
    position: relative;
  }

  .plus-icon {
    font-size: 24px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__accept-text {
    font-size: var(--text-sm);
    letter-spacing: 0.005em;
    color: #0A0A0A;
    line-height: 20px;
    margin-bottom: 32px;
  }

  .submit {
    display: flex;
    justify-content: center;
  }

  &__btn-submit {
    padding: 11px 68px;
    background-color: var(--primary-blue-c);
    border-radius: 20px;
    font-size: var(--text-lg);
    font-weight: 500;
    color: var(--white-c);

    &:hover {
      background-color: var(--link-hover-c);
    }
  }
}