.about-info {
  padding: 30px 0 120px;

  &__title {
    text-align: center;
    font-family: var(--ff-gothic);
    font-size: var(--sm-title);
    font-weight: 700;
    line-height: 125%;
    margin-bottom: 37px;
    position: relative;

    &::after {
      max-width: 305px ;
      bottom: -8px !important;
    }
  }

  &-inner {
    display: flex;
    column-gap: 18px;
  }

  &__text {
    text-align: justify;
    font-size: 15px;
    line-height: 125%;
    color: var(--black-c);
  }

  .map-location {
    display: flex;
    align-items: center;
  }

  .contact-type__list {
    margin-top: 12px;
  }

  a {
    color: inherit;
    font-size: inherit;
  }

  .underline {
    text-decoration: underline;
  }
}