.speakers {
  padding-top: 66px;

  &-title {
    text-transform: uppercase;
    text-align: center;
    color: var(--black-c);
    font-size: var(--sm-title);
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.02em;
    position: relative;
    margin-bottom: 70px;


    &::after {
      content: "";
      height: 2px;
      width: 475px;
      background-color: var(--green-c);
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .container {
    padding-top: 93px;
    padding-bottom: 145px;
    background-color: rgba(223, 246, 255, 0.5);
    border-radius: 100px;
  }

  &-content {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
  }

  &-img {
    width: 312px;
    height: 322px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 60px;

    img {
      object-fit: cover;
    }
  }

  &-name {
    font-size: var(--text-2xl);
    font-weight: 500;
    line-height: 29px;
    color: #323232;
  }
}