.accordion {
  margin-bottom: 30px;

  &-header {
    padding: 10px 25px;
    background-color: var(--primary-blue-c);
    border-radius: 4px;
  }
  &-body {
    display: none;
    background-color: var(--white-c);
    border-radius: 4px;
    padding: 10px 25px;
  }

  &.active &-body {
    display: block;
  }

  &-title {
    color: var(--white-c);
  }
}