.stepper {
  max-width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 50px;

  .steps {
    display: flex;
    align-items: center;
  }

  .steps-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .step-round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    border: 2px solid #9CA3AF;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      background-color: #D1D5DB;
      border-radius: 50%;
    }
  }

  .step-round.selected {
    border-color: var(--primary-blue-c);

    &::after {
      content: "✓";
      display: flex;
      justify-content: center;
      align-items: center; 
      color: white;
      font-weight: bold;
      background-color: var(--primary-blue-c);
      height: 100%;
      width: 100%;
    }
  }

  .step-desc {
    width: 50px;
    position: absolute;
    text-align: center;
    bottom: -25px;
  }

  &-line {
    width: 100px;
    border-top: 2px solid #D1D5DB;
    transition-duration: 0.5s ease-in-out;
    flex: 1;
  }

  .steps:last-child .stepper-line {
    display: none;
  }

}