.header {

    .lang-btn {
        display: flex;
        align-items: center;
        padding: 5px 12px;
        border: 1px solid var(--primary-blue-c);
        border-radius: 50px;
        color: var(--primary-blue-c);

        span {
            text-transform: capitalize;
            font-size: var(--text-lg);
            font-weight: 500;
            letter-spacing: -0.03em;
        }
    }

    .lang {
        position: relative;
    }

    .lang-list {
        top: 100%;
        border-radius: 5px;
    }
}

@media screen and (max-width: 520px) {
    .header {
        .lang-btn {
            padding: 2px 7px;

            span {
                font-size: var(--text-base);
            }
        }

        .down-arrow {
            font-size: var(--text-xl);
        }
    }
}