.recent-conferences {
  max-width: 538px;
  padding: 35px 10px 37px 26px;
  background-image: url("../../assets/images/recent-conferences-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;

  &__title {
    white-space: nowrap;
    font-size: 30px;
    line-height: 25px;
    color: var(--black-c);
    position: relative;
    margin-bottom: 40px;

    &::after {
      content: "";
      width: 85%;
      height: 2px;
      background-color: var(--green-c);
      position: absolute;
      bottom: -20px;
      left: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  &__list-item {
    display: flex;
  }

  &__img {
    width: 176px;
    height: 160px;
    margin-right: 25px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__date {
    font-size: var(--text-xs);
    line-height: 18px;
    color: #828282;
    margin-bottom: 4px;
  }

  &__name {
    color: var(--black-c);
    font-size: var(--text-xl);
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 10px;
  }

  &__desc {
    max-width: 200px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    line-height: 24px;
    margin-bottom: 15px;
    color: var(--black-c);
  }

  &__link {
    font-size: var(--text-sm);
    color: var(--green-c);

    &:hover {
      color: var(--primary-blue-c);
    }
  }

}