.header {
  padding: 12px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo img {
    width: 328px;
    height: 67px;
    object-fit: cover;
  }

  &-nav ul {
    display: flex;
  }

  .nav__link {
    color: var(--primary-blue-c);
    font-size: var(--text-xl);
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.03em;
    padding: 32px 30px;
    transition: 0.3s;

    &.active,
    &:hover {
      background-color: #F7F6FA;
      border-bottom: 3px solid var(--primary-blue-c);
      transition: 0.3s;
    }
  }

  &-right {
    display: flex;
    align-items: center;
    column-gap: 40px;
  }

  .lang {
    position: relative;
  }

  .lang-list {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: var(--white-c);
    border-radius: 5px;
    box-shadow: 0 6px 8px -6px rgb(24 39 75 / 12%), 0 8px 16px -6px rgb(24 39 75 / 8%);
    z-index: 10;
    overflow: hidden;

    li {
      text-align: center;
      text-transform: capitalize;
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: #0c81ffa6;
        color: var(--white-c);
      }
    }
  }

  .lang-btn {
    display: flex;
    align-items: center;
    padding: 5px 12px;
    border: 1px solid var(--primary-blue-c);
    border-radius: 50px;
    color: var(--primary-blue-c);

    span {
      text-transform: capitalize;
      font-size: var(--text-lg);
      font-weight: 500;
      letter-spacing: -0.03em;
    }

    svg {
      display: block;
      font-size: var(--text-2xl);
      padding-top: 4px;
    }
  }

  .join-conference__link {
    color: var(--black-c);
    font-size: var(--text-xl);
    font-weight: 600;
    letter-spacing: -0.02em;
    padding: 12px;
    background-color: #DFF6FF;
    border-radius: 90px;
    border-bottom-right-radius: 0;
    transition: 0.3s;

    &:hover {
      background-color: var(--primary-blue-c);
      color: var(--white-c);
      transition: 0.3s;
    }
  }
}