.header {

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-logo {
        width: 328px;
        height: 67px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .nav-list {
        display: flex;
    }

    .nav__link {
        display: flex;
        align-items: center;
        gap: 2px;
        color: var(--primary-blue-c);
        font-size: var(--text-xl);
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.03em;
        padding: 28px 20px;
        transition: 0.3s;
        white-space: nowrap;
        border-bottom: 3px solid transparent;

        &.active,
        &:hover {
            background-color: #F7F6FA;
            border-color: var(--primary-blue-c);
            transition: 0.3s;
        }
    }

    .nav-list__item {
        position: relative;
    }

    .nav-link__sub-list {
        top: calc(100% - 3px);

        a {
            display: block;
            padding: 12px 10px;
            color: inherit;
            font-weight: 500;
            font-size: var(--text-sm);
            transition: color 0.1s;
        }
    }

    .nav__sub-list {
        position: absolute;
        right: 0;
        width: 100%;
        background-color: var(--white-c);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 0 6px 8px -6px rgb(24 39 75 / 12%), 0 8px 16px -6px rgb(24 39 75 / 8%);
        z-index: 10;
        overflow: hidden;
    }


    .sub-list__item {
        text-align: center;
        text-transform: capitalize;
        padding: 10px;
        cursor: pointer;

        &:hover {
            background-color: #0c81ffa6;
            color: var(--white-c);
        }
    }


    .nav-sub__list-item {
        padding: 0;
    }

    .lang {
        position: relative;
    }

    .lang-list {
        top: 100%;
        border-radius: 5px;
    }


    .lang-btn {
        display: flex;
        align-items: center;
        padding: 5px 12px;
        border: 1px solid var(--primary-blue-c);
        border-radius: 50px;
        color: var(--primary-blue-c);

        span {
            text-transform: capitalize;
            font-size: var(--text-lg);
            font-weight: 500;
            letter-spacing: -0.03em;
        }
    }

    .down-arrow {
        display: block;
        padding-top: 4px;
        font-size: var(--text-2xl);
    }

}

@media screen and (max-width: 1260px) {
    .header {
        &-logo {
            display: none;
        }

        .nav__link {
            padding: 25px 10px;
        }
    }
}

@media screen and (max-width: 920px) {
    .header {
        padding: 8px 0;

        &-logo {
            display: block;
        }

        &-nav {
            display: none;
        }
    }
}