.payment {
  padding: 0 70px;
  position: relative;

  &-type__wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  &-type {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: space-between;
  }

  .humo {
    margin-top: 15px;
    width: 160px;
    height: 110px;
  }

  &-link {
    display: inline-block;
    max-width: 206px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 12px;
    background-color: var(--primary-blue-c);
    color: var(--white-c);
    border-radius: 20px;
    white-space: nowrap;

    &:hover {
      background-color: var(--link-hover-c);
    }
  }

  .click-img {
    width: 160px;
    height: 60px;
    position: absolute;
    bottom: -10px;
    right: 15px;
  }
}

.prev-btn {
  max-width: 160px;
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 10px 12px 10px 30px;
  border-radius: 20px;
  background-color: var(--primary-blue-c);
  font-size: var(--text-lg);
  color: var(--white-c);
  margin-bottom: 20px;

  svg {
    font-size: var(--text-3xl);
  }

  &:hover {
    background-color: var(--link-hover-c);
  }
}