.final-step {
    padding-top: 30px;

    .cheque-input__wrap {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    input[type=file]::file-selector-button {
        display: none;
    }

    input[type=file] {
        cursor: pointer;
    }

    .file-upload {
        max-width: 350px;
        position: relative;

        input {
            width: 100%;
        }
    }

    .plus-icon {
        font-size: 24px;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    }

    .add-file__desc {
        font-size: var(--text-sm);
        line-height: 20px;
        color: var(--black-c);
        letter-spacing: 0.005em;
        margin-bottom: 80px;
    }

    &__controlls {
        display: flex;
        justify-content: space-around;

        button:first-child {
            padding-right: 40px;
        }

        >button {
            flex: 1;
            max-width: 206px;
            justify-content: center;
            padding: 10px 20px;
        }
    }
}

@media screen and (max-width: 520px) {
    .final-step .add-file__desc {
        margin-bottom: 40px;
    }

    .final-step__controlls {
        button:first-child {
            padding-right: 20px;
        }

        button {
            max-width: 130px;
            padding: 4px;
        }
    }

}