.intro {
  padding: 32px 0 20px;
  background-image: url("../../assets/images/intro-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &-title__wrap {
    text-align: center;
    padding: 48px 10px 38px;
    margin: 0 10px;
    background-color: rgba(0, 0, 0, 0.47);;
  }

  &-title {
    color: #D3E7FDEB;
    font-size: 40px;
    font-weight: 700px;
    line-height: 60px;
  }
}