.register__info-table {
  margin-bottom: 80px;
  max-width: 650px;

  table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  .head-td {
    text-align: start;
  }

  th {
    padding: 30px 50px;

    &:first-child {
      width: 40%;
    }
  }

  td {
    text-align: center;
    padding: 20px;
  }

  &__def {
    text-align: justify;
    font-size: var(--text-sm);
    line-height: 150%;
    color: var(--black-c)
  }
}