.payments {
  padding: 65px 0 100px;

  &-title {
    text-align: center;
    text-transform: uppercase;
    font-size: var(--sm-title);
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: var(--black-c);
    margin-bottom: 84px;
    position: relative;

    &::after {
      width: 385px;
      bottom: -15px;
    }
  }

}