@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Regular.eot");
  src: url("./assets/fonts/Montserrat-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-Regular.woff") format("woff"),
    url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Medium.eot");
  src: url("./assets/fonts/Montserrat-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Montserrat-Medium.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-Medium.woff") format("woff"),
    url("./assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Bold.eot");
  src: url("./assets/fonts/Montserrat-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Montserrat-Bold.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-Bold.woff") format("woff"),
    url("./assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Century Gothic";
  src: url("./assets/fonts/CenturyGothic-Bold.eot");
  src: url("./assets/fonts/CenturyGothic-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/CenturyGothic-Bold.woff2") format("woff2"),
    url("./assets/fonts/CenturyGothic-Bold.woff") format("woff"),
    url("./assets/fonts/CenturyGothic-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

:root {
  --primary-blue-c: #007bff;
  --white-c: #ffffff;
  --black-c: #000000;
  --green-c: #008000;
  --dark-c: #191f25;
  --dark-blue: #1e417c;
  --link-hover-c: #004cff;
}

:root {
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 28px;
  --sm-title: 40px;
  --s-title: 100px;
}

:root {
  --ff-gothic: "Century Gothic", sans-serif;
  --bx-payments-card: 2px 5px 10px rgba(0, 0, 0, 0.1);
}

.line::after {
  content: "";
  width: 475px;
  height: 2px;
  background-color: var(--green-c);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

body,
html {
  font-weight: 400;
  font-style: normal;
}

main {
  background-image: url("./assets/images/main-bg.png");
  background-repeat: no-repeat;
  background-position: left 35%;
  background-size: 100% 100%;
}

.primary-bg {
  background-image: url("./assets/images/primary-bg.jpg");
  background-position: center;
}

ol,
ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  background: var(--primary-blue-c);
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background: var(--white-c);
}
